.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
  width: 400px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  margin-left: -200px;
}


.btn {
    padding: 16px;
}

#question {
    padding: 20px;
}





